
<table>
  <% @users.each do | u | %>
    <tr>
      <td> <%= u.username %> </td>
      <td><%= link_to "Show Articles", user_path(u), class: "btn btn-danger special-card text-white" %></td>
    </tr>
  <% end %>
</table>