<div id="page-content">
  <h1 class="text-center mt-4 mb-4">New User Signup</h1>
  <div class="container pt-4 pl-4 pr-4" style="border:2px solid #cecece;" id="new-container">
    <%= render 'form' %>
  </div>
</div>